<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
</br>
<button style ="padding:5px"><%= link_to "<< Back to Articles List", articles_path %> <%= "" %></button>
<button style ="padding:5px"><%= link_to " Delete [x]", article_path(@article) , method: :delete, data: {confirm: "Really delete the article?"} %></button>
<button style ="padding:5px"><%= link_to "Edit [!]", edit_article_path(@article) %></button>
